<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <%= image_tag('admin_template/1.png', :class => 'online') %>
            <span>
							john.doe
						</span>
            <i class="fa fa-angle-down"></i>
          </a>

				</span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <ul>
      <li class="active">
        <a href="index.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
        <ul>
          <li>
            <a href="flot.html">Flot Chart</a>
          </li>
          <li>
            <a href="morris.html">Morris Charts</a>
          </li>
          <li>
            <a href="inline-charts.html">Inline Charts</a>
          </li>
          <li>
            <a href="dygraphs.html">Dygraphs</a>
          </li>
          <li>
            <a href="chartjs.html">Chart.js <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <span class="minifyme" data-action="minifyMenu">
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>