<!DOCTYPE html>
<html>
<head>
  <title>HwRailsCore</title>
  <%= stylesheet_link_tag    'user_template', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user_template', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>USER LAYOUT</h2>
<%= yield %>

</body>
</html>
